.btn{
    padding: 10px 40px;
    background-color: #2C166F!important;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
  }

  button{
    outline: none;
  }
