$primary-color:#ffffff;
$secondary-color:green;
$accent-color:#ff652f;
$text-color:#fff;
//$font-weights:("regular":400;
$th-color:blue;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700);
$mobile:800px;
div{
    padding-left: 1%;
    align-items: center;
}
table {
    font-size: 18px;
    margin-left: 100px;
    height:auto;
    width: 80%;
    text-align: center;
  }
 td {
  padding: 8px;
  text-align: left;
  border-bottom: 5px solid #ddd;
  border-radius: 6px 6px 6px 6px ;
}
  th{
    background-color:$th-color;
    height: 35px;
    color: white;
  }
  select{
    font-size: 18px;
      height: 30px;
      border: 0px;
  }
  
h2{
    font-weight: 400;
    text-align: center;

    color: green;
    font: bold;
}