.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 5px;
        transition: all 0.2s;
        position: relative;
        color: #fff;

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000000, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 1rem 2rem rgba(#000000, 0.1);
    }

    &-primary {
        background-color: $primary-300;
    }
}
