.requests {
    padding: 30px 40px;
    width: 190vh;
 
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        li {
            font-weight: 700;
            flex: 0 0 11%;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        .title {
            font-size: 28px;
        }
    }

    &__table {
        height: 90vh;
        width: 180vh;
        text-align: center;

        &--header {
            background-color: #2196F3;
            padding: 20px 30px;
            color: #fff;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        &--body {
            text-align: center;
        }
    }
}
.headers{
    background-color:#2196F3;
}
.select {
   // appearance: none;
    background-color:#2196F3;
    border: none;
    padding: 0em 1em 0 0;
    margin-left: 25px;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: inherit;
    line-height: inherit;
    width: 50vh;
    height: 40px;
   // text-shadow: 2px 2px;
  }
 input {
    appearance: none;
    background-color: transparent;
    padding: 2em 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: inherit;
    line-height: inherit;
    width: 167vh;
   // text-shadow: 2px 2px;
  }
  .message {
   //background-color: green;
   color:green;
    width: 40%;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.error {
    background-color: #D0454C;
    color: #fff;
    width: 40%;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.navigation {
    &__buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        .nav-btn {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            transition: all 0.4s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .prev {
            margin-right: 30px;
        }
    }
}
