.nav {
    display: flex;
    background-color: #2196F3;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}
 
.nav_links {
    list-style: none;
    display: flex;
    width: 50%;
    font-size: 20px;
    justify-content: space-around;
    background-color: #2196F3;
}
