input{
    border: none;
    border-bottom: 1px solid #000;
    padding: 0.5px 0.5px;
    font-size: 16px;
    outline: none;
    background: none;
  }
  .inputDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px auto;
  }
  .inputDiv label{
    padding:0 5px;
    font-size: 16px;
    font-family: poppins;
  }
