$primary-color:#ffffff;
$secondary-color:green;
$accent-color:#ff652f;
$text-color:#fff;
//$font-weights:("regular":400;
$th-color:blue;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700);
$mobile:800px;

@mixin transition-ease {
    transision: all 0.5s ease-in-out;
}

@function setText-color($color) {
    @if(lightness($color)>40%) {
        @return rgb(218, 22, 22);
    }

    @else {
        @return #fff
    }
}

@mixin media-md {
    @media screen and(min-width:768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and(min-width:1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and(min-width:1600px) {
        @content;
    }
}
