@import 'config';
@import 'resets';

body {
    height: 100vh;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

.text-secondary {
    color: $secondary-color;
}
input{
    display: inline-block;
    color: black;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: $text-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    text-align: center;
    color: $text-color;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: $text-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
}
div{
    padding-left: 1%;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 70%;
  }
  
   td {
    text-align: left;
    padding: 8px;
  }
  th{
    background-color:$th-color;
    height: 35px;
    color: white;
  }
  
  tr:nth-child(even) {background-color: #ffffff;;}
  tr:nth-child(odd) {background-color: #ffffff;;}
h1,h2,h3{
    font-weight: 400;
    text-align: center;
    color: rgb(7, 7, 7);
}
a{
    color:set-tex-color($primary-color);
    text-decoration: none;
}
.text-secondary{
    color:$secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}

@mixin mobile {
    @media(max-width:$mobile) {
        @content;

    }

}

.main {
    @include flexCenter(row); //use row or column
    width: 90%-10%;
    margin: 0 auto;
    font-size: 18px;

    #{&}__paragraph1 {
        font-weight: weight(bold); //using function call
    }

    &:hover {
        color: pink;
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: $accent-color;
        }
    }

    @include mobile {
        flex-direction: column;
        background: $secondary-color;
    }
}

@mixin theme($light-theme:true) {
    @if($light-theme) {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }

}

.light {
    @include theme($light-theme:true); // false or true and see changes
}

main {
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-tex-color($primary-color);
}
